<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>
<a th:href="@{/logout}">Logout</a>
<br><br>
<form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
  <label for="first_name">Enter Name:  </label>
  <input type="text" th:field="*{name}" id="first_name" placeholder="first name"/>
  <br/>
  <label for="last_name">Enter Surname:  </label>
  <input type="text" th:field="*{surname}" id="last_name" placeholder="last name"/>
  <br/>
  <label for="email">Enter email: </label>
  <input type="text" th:field="*{email}" id="email" placeholder="email"/>
  <br/>
  <label for="password">Enter password: </label>
  <input type="text" name="pass" id="password" placeholder="password"/>
  <br/>
  <label for="roles">Сhoose roles: </label>
  <br/>
  <select name="rolesList" id="roles" size="2" multiple>
    <option th:value="'ROLE_ADMIN'" th:text="ADMIN"></option>
    <option th:value="'ROLE_USER'" th:text="USER"></option>
  </select>
  <br/>
  <input type="submit" value="Create">
</form>
</body>
</html>